#map {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
#edit {
  display: none;
}
#background {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: 2000;
  background: #333333;
  opacity: 0.5;  
}
#edit .content {
  z-index: 2001;
  position: absolute; 
  top: 5em;
  right: 5em;
  bottom: 5em;
  left: 5em;
  background: white;
  border-radius:5px;
  padding: 10px;
  box-shadow: 5px 5px 15px 3px #111;
}
#edit .content table {
  min-width: 50%;
  max-width: 95%;
  border-collapse: collapse;
}
tr.odd {
  background: #DDD;
}
#edit-close {
  z-index: 2002;
  border:1px solid black;
  cursor:pointer;
  padding:3px;
  position: absolute; 
  top: 6em; 
  right: 6em;
}
#control {
  background: white;
  padding:10px;
  position: absolute; 
  top: 3em; 
  right: 1em;
  z-index: 1000;
}
#result {
  background: white;
  padding:10px;
  position: absolute; 
  top: 10em; 
  right: 1em;
  z-index: 1000;
}
.icon {
  padding-left:18px;
  padding-top:18px;
  cursor:pointer;
}
.set-changed {
  background: url(changed.png)  no-repeat;
}
.set-todo {
  background: url(todo.png)  no-repeat;
}
.set-wont-fix {
  background: url(wont-fix.png)  no-repeat;
}